<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{rental.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{rental.title}}</h3>
  <div class="detail position">
    <span>Position:</span> {{position-type rental.position}}
            - {{rental.position}}

  </div>
  <div class="detail fa type">
    <span>Free Agent Type:</span> {{free-agent-type}}
  </div>
  <div class="detail type">
    <span>Age:</span> {{rental.age}}
  </div>
  <div class="detail location">
    <span>Strengths:</span> {{rental.strengths}}
  </div>
  <div class="detail bedrooms">
    <span>Weaknesses:</span> {{rental.weaknesses}}
  </div>
</article>